<div>
    <% if (product.price > 30) { %>
        <div class="card align-items-center">
            <p><%= product.name %></p>
            <p><%= product.price %></p>
        </div>
    <% } %>
</div>
