<%- include('partials/header.ejs') %>
    <body>
        <div class="container">
            <% array.forEach(element => { %>
            
            <% }) %>

            <%=  %>
        </div>
    </body>
</html>